body {

  padding: 0;

  margin: 0;

  background: #fbffe4;

}

html {
  scroll-behavior: smooth;
}


.navbar {

  background:#0e1523;

}

.nav-link,

.navbar-brand {

  color: #fff;

  cursor: pointer;

}

.nav-link {
  color: #ffffff;
  margin-right: 1em !important;
  
}

.nav-link:hover {

  color: #000;

}


.navbar-collapse {

  justify-content: flex-end;

}

.header {

  background-image: url('HetmaanlichtBG.png');

  background-size: cover;

  background-position: center;

  position: relative;

}


.LogoImg {

  height: 30px;

  width: auto;

}


.overlay {

  position: absolute;

  min-height: 100%;

  min-width: 100%;

  left: 0;

  top: 0;

  background: rgba(0, 0, 0, 0.6);

}

.description {

  left: 50%;

  position: absolute;

  top: 45%;

  transform: translate(-50%, -55%);

  text-align: center;

}

 

.description h1 {

  color: #fbffe4;

}

 

.description p {

  color: #fff;

  font-size: 1.3rem;

  line-height: 1.5;

}


.description a {

  border:1px solid #0e1523;

  background:#0e1523;

  border-radius: 5px;

  color:#fff;

}

 

.description a:hover {

  border:1px solid #fbffe4;

  background:#fbffe4;

  color:#0e1523;

}

.features {

  margin: 4em auto;

  padding: 1em;

  position: relative;

}

 

.feature-title {

  color: #0e1523;

  font-size: 1.3rem;

  font-weight: 700;

  margin-bottom: 20px;

  text-transform: uppercase;

}

 

.features img {

  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);

  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);

  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);

  margin-bottom: 16px;

}

.features .form-control,

.features input {

    border-radius: 0;

}

 

.features .btn {

  background-color: #0e1523;

  border: 1px solid #0e1523;

  color: #fff;

  border-radius: 5px;

  margin-top: 20px;

}

 

.features .btn:hover {

  background-color: #c1c4b1;

  border: 1px solid #c1c4b1;

}

.page-footer {

  background-color: #0e1523;

  color: #ccc;

  padding: 60px 0 30px;

}

 

.footer-copyright {

  color: #666;

  padding: 40px 0;

}



@media (max-width: 575.98px) {

  .description {

    left: 0;

    padding: 0 15px;

    position: absolute;

    top: 10%;

    transform: none;

    text-align: center;

  }

  .description h1 {

    font-size: 2em;

  }

  .description p {

    font-size: 1.2rem;

  }

  .features {

    margin: 0;

  }

 

}
